
<div class="row row-cols-1 row-cols-md-3">
    <div class="col">

        <div>
            <h1>@StartValue</h1>
        </div>
        
        <div>
            <h1>@EndValue</h1>
        </div>

        <div class="row">
            @foreach (int val in ListValues)
            {
                <div class="col-2">@val</div>
            } 
        </div>


        <div class="row">
            @foreach(DataContainer<int,Node> container in DisplayList)
            {
                <div class="card border border-2 rounded-3 bg-secondary m-3 col-2" style="width:100px; height:100px;">
            
                    <div class="card-header bg-info">Node Value is @container.Data</div>
                    @if(container.Node != null)
                    {
                        <div class="card-body bg-warning">Next Node Value is @container.Node</div>
                    }
                    else
                    {
                        <div class="card-body bg-warning">Next is Null</div>
                    }
                </div>
            }
        </div>

    </div>
</div>


@code {

    // --------------------- USER VALUES AND LIST GENERATION ------------------

    [Parameter]
    public int StartValue { get; set; }
    [Parameter]
    public int EndValue {get; set; }
    [Parameter]
    public List<int> ListValues { get; set; }

    LinkedList newList = new LinkedList();

    List<DataContainer<int,Node>> DisplayList = new List<DataContainer<int,Node>>();

    public List<int> GenerateListValues(int startValue, int endValue)
    {
        List<int> result = new List<int>();
        DisplayList.Clear();

        if (startValue != null && endValue != null)
        {
            int valueRange = Math.Abs(endValue - startValue);

            if (startValue <= endValue)
            {
                for (int i = 0; i < valueRange; i++)
                {
                    result.Add(startValue + i);
                }
            }

            if (endValue <= startValue)
            {
                for (int i = 0; i < valueRange; i--)
                {
                    result.Add(startValue + i);
                }
            }
        }
        return result;
    }


    // --------------------- NODE AND LINKED LIST GENERATION ------------------

    public class Node
    {
        public int Data { get; set; }
        public Node Next { get; set; }

        public Node(int data)
        {
            this.Data = data;
            this.Next = null;
        }
    }

    public class DataContainer<T1, T2>
    {
        public T1 Data { get; set; }
        public T2? Node { get; set; }

        public DataContainer(T1 data, T2 node)
        {
            Data = data;
            Node = node;
        }
    }

    public class LinkedList
    {
        // Generates the head Node of the Linked List
        public Node Head { get; private set; }

        // Constructor: Sets the head of the list to null
        public LinkedList()
        {
            this.Head = null;
        }

        public void AddLast(int data)
        {
            Node newNode = new Node(data);

            if (Head == null)
            {
                Head = newNode;
            }
            else
            {
                Node current = Head;
                while (current.Next != null)
                {
                    current = current.Next;
                }
                current.Next = newNode;
            }
        }

        public void AddToList(List<int> ListValues)
        {
            if (ListValues != null)
            {
                foreach (int value in ListValues)
                {
                    this.AddLast(value);
                }
            }
        }

        // --------------------- NODE LIST GENERATION ------------------
        public List<DataContainer<int, Node>> GenerateNodeList()
        {
            Node current = this.Head;
            List<DataContainer<int, Node>> NodeList = new();
            while (current != null)
            {
                if(current.Next == null)
                {
                    DataContainer<int, Node?> dataContainer = new DataContainer<int, Node?>(current.Data, null);
                    NodeList.Add(dataContainer);
                    current = current.Next;
                }
                else
                {
                    DataContainer<int, Node> dataContainer = new DataContainer<int, Node>(current.Data, current.Next);
                    NodeList.Add(dataContainer);
                    current = current.Next;
                }
            }

            foreach(DataContainer<int,Node> DT in NodeList)
            {
                Console.WriteLine(DT.Data);
            }

            return NodeList;
        }

    }


}
